<footer class="bg-slate-900"> 
    <ul class="flex gap-7 items-center justify-center font-bold text-lg py-6 text-slate-300">
        <li><a href="">Instagram</a></li>
        <li><a href="">Linkedin</a></li>
        <li><a href="">Soporte</a></li>
        <li><a href="">Fuentes</a></li>
    </ul>
    <span class="text-lg  text-slate-300 text-end block px-8 pb-4">Copyright</span>

</footer>